:root {
  --primary-color: hsl(219, 24%, 22%);
  --secondary-color: #161c2a;
  --text-color: #9dc7e0;
  --border-color: #516398;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
body {
  height: 100vh;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

@media screen and (max-width:400px) {
  body{
    position: fixed;
  }
}