.contactUs {
  visibility: hidden;
  right: 60%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 0.625rem 1.25rem;
}
.form {
  color: var(--text-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  & input,
  textarea {
    color: var(--text-color);

    width: 100%;
    background: var(--primary-color);
    outline: none;
    border: none;
  }
  & textarea {
    min-height: 150px;
  }
}
@media screen and (max-width:400px){
  .contactUs{
    display: none;
    visibility: hidden;
    position: unset;
  }
}