.tab {
  padding: 1.25rem 2.5rem;
  background-color: var(--secondary-color);
  font-size: 2rem;

}
.active {
  background-color: var(--text-color);
  color: var(--secondary-color);
}


@media screen and (max-width:400px) {
  .tab{
    padding: 5px 10px;
    font-size: 1.5rem;
  }
}